*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}


ul, ol{
    list-style: none;
   }
   
   a{
    text-decoration: none;
    display: inline-block;
   }
   
   img{
    width: 100%;
   }
   
   body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    
   .container{
    width: 1140px; 
    margin: 0 auto;
   }

.header{
    background-image: url("../img/Rectangle\ \(9\).png");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 120px 0px;
}


.navbar .container{
    display: flex;
    align-items: center;
}

.boon1{
    margin-top: 30px;
}

.boon_text h3{
   display: inline-block;
   margin: 0px 10px;
  font-weight: normal;
  transition: .5s;
  margin-top: -10%;
}


.boon_text h3:hover{
    color: red;
    transform: scale(1.1);
}
 
.boon_list{
    margin-top:20%;

}

.boon_item{
    display: inline-block;
    margin: 0px 20px;
    margin-left: 70px;
}


.boon_item a{
    color: black;
    display: inline-block;
   transition: .5s;
   font-weight: bold;
}


.boon_item a:hover{
    color: red;
    transform: scale(1.1);
}



.boon1 h2{
    margin-left: 45%;
    font-size: 30px;
    color: gray;
    font-weight: normal;
}


.boon1 h4{
    color: gray;
    font-size: 25px;
    margin-left:  45.5%; 
    margin-top: 10px;
    font-weight: normal;
}



/* navbar-ended */
/* ////////////////////////////// */

.main .container{
    display: flex;
    align-items: center;
    justify-content: center;
}





.shop_text h2{
    color: #343434;
    text-align: center;
    font-size: 50px;
    width: 400px;
    letter-spacing: 5px;
    margin-top: 30px;
    transition: .5s;
}


.shop_text h2:hover{
    color: red;
    transform: scale(1.1);
}


.shop_text a{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: #FABAA0;
    font-weight: bolder;
    padding: 10px 0px;
    border-radius: 5px;
    transition: .5s;
}


.shop_text a:hover{
    color: red;
    background-color: black;
    transform: scale(1.1);
}


