*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}


ul, ol{
    list-style: none;
   }
   
   a{
    text-decoration: none;
    display: inline-block;
   }
   
   img{
    width: 100%;
   }
   
   body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
    
   .container{
    width: 1140px; 
    margin: 0 auto;
   }




.navbar .container{
    display: flex;
    align-items: center;
}

.boon1{
    margin-top: 30px;
}

.boon_text h3{
   display: inline-block;
   margin: 0px 10px;
  font-weight: normal;
  transition: .5s;
}


.boon_text h3:hover{
    color: red;
    transform: scale(1.1);
}

}